@model AMS.frontend.web.Areas.Operations.Models.Reports.ReportModel
@{
    ViewBag.ModuleTitle = "Reports";
    ViewBag.PageTitle = "Reports";
}

<div class="m-portlet m-portlet--skin-dark m-portlet--bordered-semi" id="search-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="flaticon-map"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    Reporting Criteria
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a href="" data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                        <i class="la la-angle-down"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <form id="mainForm" asp-area="@AreaNames.Operations" asp-controller="@ControllerNames.Reports" asp-action="@ActionNames.Index" method="post">
            <div class="form-group m-form__group row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label asp-for="Level" class="control-label">Level</label>
                        <select asp-for="Level" class="form-control m-select2 level" placeholder="Select a Level">
                            <option></option>
                            <option value="National">National</option>
                            <option value="Regional">Regional</option>
                            <option value="Local">Local</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label asp-for="Layout" class="control-label">Layout</label>
                        <select asp-for="Layout" class="form-control m-select2 layout initially-disabled" placeholder="Select a Layout">
                            <option></option>
                            <option value="ThreePlusOne">Three plus One</option>
                            <option value="Running">Running</option>
                            <option value="Shortlist">Shortlist</option>
                            <option value="Summary" class="summary">Summary</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label asp-for="Category" class="control-label">Category</label>
                        <select asp-for="Category" class="form-control m-select2 category initially-disabled" placeholder="Select a Category">
                            <option></option>
                            <option value="Council">Council</option>
                            <option value="ITREB">ITREB</option>
                            <option class="cab" value="CAB">CAB</option>
                            <option class="grb" value="GRB">GRB</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label asp-for="Institution" class="control-label"></label>
                        <select asp-for="Institution" class="form-control m-select2 institution initially-disabled" placeholder="Select an Institution">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label asp-for="PageNumber" class="control-label"></label>
                        <input asp-for="PageNumber" type="text" class="form-control page-number initially-disabled">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label asp-for="FileType" class="control-label">File Type</label>
                        <select asp-for="FileType" class="form-control m-select2 fileType initially-disabled" placeholder="Select a File Type">
                            <option></option>
                            <option value="PDF">PDF</option>
                            <option value="Excel">Exel</option>
                            <option value="Word">Word</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label asp-for="IncludeLocals" class="control-label"></label>
                        <div class="m-checkbox-inline">
                            <label class="m-checkbox">
                                <input asp-for="IncludeLocals" class="include-locals initially-disabled" type="checkbox"> Include Locals
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label asp-for="LocalsOnly" class="control-label"></label>
                        <div class="m-checkbox-inline">
                            <label class="m-checkbox">
                                <input asp-for="LocalsOnly" class="locals-only initially-disabled" type="checkbox"> Locals Only
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label asp-for="Remarks" class="control-label"></label>
                        <div class="m-checkbox-inline">
                            <label class="m-checkbox">
                                <input asp-for="Remarks" class="remarks initially-disabled" type="checkbox"> Include Remarks
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label asp-for="Recommendation" class="control-label"></label>
                        <div class="m-checkbox-inline">
                            <label class="m-checkbox">
                                <input asp-for="Recommendation" class="recommendations initially-disabled" type="checkbox"> Include Recommendations
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label asp-for="OfficeBearersOnly" class="control-label"></label>
                        <div class="m-checkbox-inline">
                            <label class="m-checkbox">
                                <input asp-for="OfficeBearersOnly" class="officebearersonly initially-disabled" type="checkbox"> Office Bearers Only
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                @*<div class="col-lg-2">
                        <div class="form-group">
                            <label asp-for="IncludeParent" class="control-label"></label>
                            <div class="m-checkbox-inline">
                                <label class="m-checkbox">
                                    <input asp-for="IncludeParent" type="checkbox"> Include Parent
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>*@
            </div>

            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions--solid">
                    <button type="submit" class="btn btn-primary btn-info initially-disabled generate">
                        <i class="fa fa-download"></i> Generate
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        jQuery(document).ready(function() {

            var x = document.getElementById("subHeader");
            x.style.display = "none";

            $(".initially-disabled").prop("disabled", true);

            $(".level")
                .change(function() {
                    var selectedPrimaryValue = $(this).val();
                    if (selectedPrimaryValue === "" || selectedPrimaryValue === "0") {
                        $(".level").val([]);
                        ClearSelections();
                    } else {
                        $(".layout").prop("disabled", false);
                        if (selectedPrimaryValue !== "National") {
                            $(".summary").prop("disabled", true);
                            $(".grb").prop("disabled", true);
                            if (selectedPrimaryValue !== "Regional") {
                                $(".cab").prop("disabled", true);
                            }
                        } else {
                            $(".summary").prop("disabled", false);
                            $(".grb").prop("disabled", false);
                            $(".cab").prop("disabled", false);
                        }
                        $(".layout")
                            .each(function() {
                                var placeholder = $(this).attr("placeholder");
                                $(this)
                                    .select2({
                                        placeholder: placeholder,
                                        allowClear: true
                                    });
                            });
                        $(".category")
                            .each(function() {
                                var placeholder = $(this).attr("placeholder");
                                $(this)
                                    .select2({
                                        placeholder: placeholder,
                                        allowClear: true
                                    });
                            });
                    }

                    //$(".institution").empty().append("<option></option>").prop("disabled", true);
                    //$(".category").empty().append("<option></option>").prop("disabled", true);

                    //if (selectedPrimaryValue === "National") {
                    //    $(".institution").empty().append("<option></option>").prop("disabled", true);
                    //    $(".category").empty().append("<option></option>").prop("disabled", true);

                    //} else if (selectedPrimaryValue === "Regional") {
                    //    $(".institution").empty().append("<option></option>").prop("disabled", true);
                    //    $(".category").empty().append("<option></option>").prop("disabled", true);

                    //} else if (selectedPrimaryValue === "Local") {
                    //    LoadInstitutions();
                    //}
                });

            $(".fileType")
                .change(function () {
                    var selectedPrimaryValue = $(this).val();
                    if (selectedPrimaryValue === "" || selectedPrimaryValue === "0") {
                        $(".generate").prop("disabled", true);
                    }
                    else {
                        $(".generate").prop("disabled", false);
                    }
                });

            $(".layout")
                .change(function() {
                    var selectedPrimaryValue = $(this).val();
                    $(".layout").val(selectedPrimaryValue);
                    if (selectedPrimaryValue === "" || selectedPrimaryValue === "0") {
                        $(".layout").val([]);
                        ClearSelections();
                        $(".layout").prop("disabled", false);
                    } else if (selectedPrimaryValue === "Summary") {
                        $(".fileType").prop("disabled", false);
                    } else if (selectedPrimaryValue === "Shortlist")
                    {
                        EnableUtilityControls();
                        $(".category").prop("disabled", false);
                    }
                    else {
                        $(".category").prop("disabled", false);
                    }
                });

            $(".category")
                .change(function() {
                    var selectedPrimaryValue = $(this).val();
                    if (selectedPrimaryValue === "" || selectedPrimaryValue === "0") {
                        $(".category").val([]);
                        ClearSelections();
                        $(".layout").prop("disabled", false);
                        $(".category").prop("disabled", false);
                    } else {
                        if ($(".level").val() == "National") {
                            EnableUtilityControls();
                            if (selectedPrimaryValue === "Council") {
                                $(".institution").prop("disabled", false);
                                LoadNationalInstitutions();
                            }
                        } else if ($(".level").val() == "Regional") {
                            $(".institution").prop("disabled", false);
                            LoadRegionalInstitutions();
                            EnableUtilityControls();
                        } else if ($(".level").val() == "Local") {
                            $(".institution").prop("disabled", false);
                            LoadLocalInstitutions();
                            EnableUtilityControls();
                            $(".include-locals").prop("disabled", true);
                        }
                    }
                });

            $(".institution")
                .change(function() {
                    var selectedPrimaryValue = $(this).val();
                    if (selectedPrimaryValue === "" || selectedPrimaryValue === "0") {
                        $(".institution").val([]);
                        ClearSelections();
                        $(".layout").prop("disabled", false);
                        $(".category").prop("disabled", false);
                        $(".institution").prop("disabled", false);
                    } else {
                        EnableUtilityControls();
                    }
                });

            $(".include-locals")
                .change(function() {
                    var selectedPrimaryValue = $(this).val();
                    if (selectedPrimaryValue) {
                        $(".locals-only").prop("disabled", false);
                    } else {
                        $(".locals-only").val("");
                        $(".locals-only").prop("disabled", true);
                    }
                });

            function LoadNationalInstitutions() {
                LoadDropDownViaAjax("institution",
                    "@Url.Action(ActionNames.GetNationalInstitutions, ControllerNames.Reports, new { area = AreaNames.Operations })",
                    $(".category").val(),
                    "",
                    "");
            }

            function LoadRegionalInstitutions() {
                LoadDropDownViaAjax("institution",
                    "@Url.Action(ActionNames.GetRegionalInstitutions, ControllerNames.Reports, new { area = AreaNames.Operations })",
                    $(".category").val(),
                    "",
                    "");
            }

            function LoadLocalInstitutions() {
                LoadDropDownViaAjax("institution",
                    "@Url.Action(ActionNames.GetLocalInstitutions, ControllerNames.Reports, new { area = AreaNames.Operations })",
                    $(".category").val(),
                    "",
                    "");
            }

            function EnableUtilityControls() {
                $(".page-number").prop("disabled", false);
                if ($(".layout").val() === "ThreePlusOne" || $(".layout").val() === "Running") {
                    $(".member-nominations").prop("disabled", false);
                    $(".remarks").prop("disabled", false);
                    $(".recommendations").prop("disabled", false);
                    $(".officebearersonly").prop("disabled", false);
                }
                if ($(".level").val() == "Regional" && ($(".category").val() !== "CAB")) {
                    //show local only and include local
                    $(".include-locals").prop("disabled", false);
                }
                $(".fileType").prop("disabled", false);
            }

            function ClearSelections() {
                $(".initially-disabled").prop("disabled", true);
                $(".layout").val("");
                $(".category").val("");
                $(".institution").val("");
                $(".page-number").val("");
                $(".include-locals").val("");
                $(".remarks").val("");
                $(".recommendations").val("");
                $(".officebearersonly").val("");
            }
        });
    </script>
}