@model AMS.frontend.web.Areas.Operations.Models.Cycle.MidTermCycle
@{
    ViewBag.ModuleTitle = "Cycle info ";
    ViewBag.PageTitle = "Cycle info";
}

<div class="m-portlet m-portlet--tabs">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Cycle Info
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs-line m-tabs-line--primary m-tabs-line--2x" role="tablist">
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active show" data-toggle="tab" href="#m_tabs_6_1" role="tab" aria-selected="true">
                        Appoint
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_2" role="tab" aria-selected="false">
                        Mid Term
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_3" role="tab" aria-selected="false">
                        Close Cycle
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="tab-content">
            <div class="tab-pane active show" id="m_tabs_6_1" role="tabpanel">
                <form id="mainForm" asp-area="@AreaNames.Operations" asp-controller="@ControllerNames.Cycle" asp-action="Appoint" method="post" class="m-form m-form--fit m-form--label-align-right" enctype="multipart/form-data">
                    <input type="hidden" asp-for="CycleId">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-save"></i> Appoint
                    </button>
                </form>
            </div>
            <div class="tab-pane" id="m_tabs_6_2" role="tabpanel">
                <form id="mainForm" asp-area="@AreaNames.Operations" asp-controller="@ControllerNames.Cycle" asp-action="" method="post" class="m-form m-form--fit m-form--label-align-right" enctype="multipart/form-data">
                    <div class="form-group m-form__group row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="Institution" class="control-label"></label>
                                <select asp-for="Institution" asp-items="@ViewBag.Institution" class="form-control institution-select" placeholder="Select">
                                    <option></option>
                                </select>
                                <span asp-validation-for="Institution" class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="Position" class="control-label"></label>
                                <select asp-for="Position" asp-items="@ViewBag.Position" class="form-control position-select" placeholder="Select">
                                    <option></option>
                                </select>
                                <span asp-validation-for="Position" class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="StartDate" class="control-label"></label>
                                <div class="input-group">
                                    <input type="text" asp-for="StartDate" class="form-control date-picker" placeholder="Select date">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <span asp-validation-for="StartDate" class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="m-form__actions" style="padding-left: 15px !important; padding-top: 28px !important">
                            <button type="button" class="btn btn-warning">
                                <i class="fa fa-save"></i> Add
                            </button>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-12" id="midTermCycle-table">
                            @{
                                await Html.RenderPartialAsync("_MidTermCycleTablePartial", Model).ConfigureAwait(false);
                            }
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m--align-right">
                            <button id="SaveMidTerm" type="submit" class="btn btn-success">
                                <i class="fa fa-save"></i> Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="m_tabs_6_3" role="tabpanel">
                <form id="mainForm" asp-area="@AreaNames.Operations" asp-controller="@ControllerNames.Cycle" asp-action="Close" method="post" class="m-form m-form--fit m-form--label-align-right" enctype="multipart/form-data">
                    <div class="col-lg-3">
                        <input type="hidden" asp-for="CycleId">
                        <div class="form-group">
                            <label asp-for="EndDate" class="control-label"></label>
                            <div class="input-group">
                                <input type="text" asp-for="EndDate" class="form-control date-picker" placeholder="Select date">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">
                                        <i class="la la-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <span asp-validation-for="EndDate" class="form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <button type="submit" class="btn btn-success">
                            <i class="la la-close"></i> Close Cycle
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/custom/crud/datatables/extensions/buttons.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/custom/crud/datatables/extensions/colreorder.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/custom/crud/datatables/extensions/responsive.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/custom/crud/datatables/data-sources/ajax-server-side.js" type="text/javascript"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {

            var x = document.getElementById("subHeader");
            x.style.display = "none";

            MakeCascadingDropDown("institution-select",
            "position-select",
            "@Url.Action(ActionNames.GetAllPositionOfInstitution, ControllerNames.Cycle, new {area = AreaNames.Operations})");

        });
    </script>
}