@model PersonModel
@{
    ViewBag.ModuleTitle = "Person Management";
    ViewBag.PageTitle = "Add";
}
<div class="row">
    <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="la la-user-plus"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Add Person
                        </h3>
                    </div>

                </div>
            </div>
            <!--begin::Form-->
            <form id="mainForm" asp-area="@AreaNames.Operations" asp-controller="@ControllerNames.Persons" asp-action=@ActionNames.Add method="post" class="m-form m-form--fit m-form--label-align-right">
                <div class="m-portlet__body">
                    <div class="form-group m-form__group row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label asp-for="Cnic" class="control-label"></label><span class="required">*</span>
                                <input type="text" asp-for="Cnic" class="form-control cnic">
                                <span asp-validation-for="Cnic" class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label asp-for="PassportNumber" class="control-label"></label>
                                <input type="text" asp-for="PassportNumber" class="form-control">
                                <span asp-validation-for="PassportNumber" class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label asp-for="Image" class="control-label"></label>
                                <input type="file" asp-for="Image" class="form-control">
                                <span asp-validation-for="Image" class="form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <div class="m-form__heading">
                        <h3 class="m-form__heading-title">
                            1. Personal Information
                        </h3>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label asp-for="Salutation" class="control-label"></label><span class="required">*</span>
                                <select asp-for="Salutation" asp-items="@ViewBag.SalutationList" class="form-control m-select2" placeholder="Select">
                                    <option></option>
                                </select>
                                <span asp-validation-for="Salutation" class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label asp-for="FirstName" class="control-label"></label><span class="required">*</span>
                                <input type="text" asp-for="FirstName" class="form-control">
                                <span asp-validation-for="FirstName" class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="FathersName" class="control-label"></label><span class="required">*</span>
                                <input type="text" asp-for="FathersName" class="form-control">
                                <span asp-validation-for="FathersName" class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="FamilyName" class="control-label"></label><span class="required">*</span>
                                <input type="text" asp-for="FamilyName" class="form-control">
                                <span asp-validation-for="FamilyName" class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label asp-for="JamatiTitle" class="control-label"></label><span class="required">*</span>
                                <select asp-for="JamatiTitle" asp-items="@ViewBag.JamatiTitleList" class="form-control m-select2" placeholder="Select">
                                    <option></option>
                                </select>
                                <span asp-validation-for="JamatiTitle" class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label asp-for="Gender" class="control-label"></label><span class="required">*</span>
                                <div class="m-radio-inline">
                                    <label class="m-radio">
                                        <input asp-for="Gender" type="radio" value="Male"> Male
                                        <span></span>
                                    </label>
                                    <label class="m-radio">
                                        <input asp-for="Gender" type="radio" value="Female"> Female
                                        <span></span>
                                    </label>
                                </div>
                                <span asp-validation-for="Gender" class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="DateOfBirth" class="control-label"></label><span class="required">*</span>
                                <div class="input-group">
                                    <input type="text" asp-for="DateOfBirth" class="form-control date-picker" readonly placeholder="Select date">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <span asp-validation-for="DateOfBirth" class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="MaritalStatus" class="control-label"></label><span class="required">*</span>
                                <select asp-for="MaritalStatus" asp-items="@ViewBag.MaritalStatusList" class="form-control m-select2" placeholder="Select a marital status">
                                    <option></option>
                                </select>
                                <span asp-validation-for="MaritalStatus" class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label asp-for="ResidentalAddress" class="control-label"></label><span class="required">*</span>
                                <input type="text" asp-for="ResidentalAddress" class="form-control">
                                <span asp-validation-for="ResidentalAddress" class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="City" class="control-label"></label><span class="required">*</span>
                                <select asp-for="City" asp-items="@ViewBag.CityList" class="form-control m-select2" placeholder="Select a city or village">
                                    <option></option>
                                </select>
                                <span asp-validation-for="City" class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="ResidenceTelephone" class="control-label"></label>
                                <input type="text" asp-for="ResidenceTelephone" class="form-control">
                                <span asp-validation-for="ResidenceTelephone" class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="MobilePhone" class="control-label"></label><span class="required">*</span>
                                <input type="text" asp-for="MobilePhone" class="form-control">
                                <span asp-validation-for="MobilePhone" class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="EmailAddress" class="control-label"></label><span class="required">*</span>
                                <input type="text" asp-for="EmailAddress" class="form-control">
                                <span asp-validation-for="EmailAddress" class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="AreaOfOrigin" class="control-label"></label><span class="required">*</span>
                                <select asp-for="AreaOfOrigin" asp-items="@ViewBag.AreaOfOriginList" class="form-control m-select2" placeholder="Select an area of originn">
                                    <option></option>
                                </select>
                                <span asp-validation-for="AreaOfOrigin" class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="RegionalCouncil" class="control-label"></label><span class="required">*</span>
                                <select asp-for="RegionalCouncil" asp-items="@ViewBag.RegionalCouncilList" class="form-control m-select2 regional-select" placeholder="Select a regional council">
                                    <option></option>
                                </select>
                                <span asp-validation-for="RegionalCouncil" class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="LocalCouncil" class="control-label"></label><span class="required">*</span>
                                <select asp-for="LocalCouncil" asp-items="@ViewBag.LocalCouncilList" class="form-control m-select2 local-select" placeholder="Select a local council">
                                    <option></option>
                                </select>
                                <span asp-validation-for="LocalCouncil" class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="Jamatkhana" class="control-label"></label><span class="required">*</span>
                                <select asp-for="Jamatkhana" asp-items="@ViewBag.JamatkhanaList" class="form-control m-select2 jamatkhana-select" placeholder="Select a jamatkhana">
                                    <option></option>
                                </select>
                                <span asp-validation-for="Jamatkhana" class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="PlanToRelocate" class="control-label"></label><span class="required">*</span>
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <label class="m-checkbox m-checkbox--single m-checkbox--state m-checkbox--state-primary">
                                                <input asp-for="PlanToRelocate" type="checkbox">
                                                <span></span>
                                            </label>
                                        </span>
                                    </div>
                                    <input id="RelocateLocation" type="text" asp-for="RelocateLocation" class="form-control" placeholder="Location" readonly="readonly">
                                </div>
                                <span asp-validation-for="PlanToRelocate" class="form-control-feedback"></span>
                                <span asp-validation-for="RelocateLocation" class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="RelocationDateTime" class="control-label"></label>
                                <div class="input-group">
                                    <input type="text" asp-for="RelocationDateTime" class="form-control date-picker" readonly placeholder="Select date">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <span asp-validation-for="RelocationDateTime" class="form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions--solid">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i> Save
                        </button>
                        <a asp-area="@AreaNames.Operations" asp-controller=@ControllerNames.Persons asp-action=@ActionNames.Index class="btn default">
                            <i class="fa fa-close"></i> Cancel
                        </a>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
</div>

@section scripts{

    @Html.Partial(PartialNames.ValidationScripts)
    @Html.Partial(PartialNames.DateTimePickerScripts)

<script type="text/javascript">
        jQuery(document).ready(function () {

            $("#mainForm input").prop("disabled", true);
            $("#mainForm select").prop("disabled", true);
            $(".cnic").prop("disabled", false);

            $(".cnic").blur(function () {
                $.post("Verify", { cnic: $(".cnic").val() })
                    .done(function (data) {
                        $("#mainForm input").prop("disabled", false);
                        $("#mainForm select").prop("disabled", false);

                        $("#RelocateLocation").prop("disabled", true);
                        $("#RelocationDateTime").prop("disabled", true);

                        $("#LocalCouncil").prop("disabled", true);
                        $("#Jamatkhana").prop("disabled", true);

                        $("#PassportNumber").focus();
                    });
            });

            $("#PlanToRelocate").change(function () {
                if (this.checked) {
                    $("#RelocateLocation").prop("disabled", false);
                    $("#RelocationDateTime").prop("disabled", false);
                } else {
                    $("#RelocateLocation").prop("disabled", true);
                    $("#RelocationDateTime").prop("disabled", true);
                }
            });

            MakeCascadingDropDown("regional-select",
                "local-select",
                "@Url.Action(ActionNames.GetLocalCouncil, ControllerNames.Persons, new { area = AreaNames.Operations })");

            MakeCascadingDropDown("local-select",
                "jamatkhana-select",
                "@Url.Action(ActionNames.GetJamatkhana, ControllerNames.Persons, new { area = AreaNames.Operations })");

            $("#Cnic").inputmask({
                "mask": "99999-9999999-9"
            });
        });
</script>
}


