@model IndexPersonModel
@{
    ViewBag.ModuleTitle = "Person Management";
    ViewBag.PageTitle = "Person Basic Information Forms";
}

<div class="m-portlet m-portlet--skin-dark m-portlet--bordered-semi" id="search-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="flaticon-users"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    Person Lookup
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a href="" data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                        <i class="la la-angle-down"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <form id="mainForm" asp-area="@AreaNames.Operations" asp-controller="@ControllerNames.Persons" asp-action="@ActionNames.Index" method="post">
            <div class="form-group m-form__group row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label">CNIC</label>
                        <input asp-for="Cnic" type="text" name="cnic" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label">First Name</label>
                        <input asp-for="FirstName" type="text" name="firstName" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label">Last Name</label>
                        <input asp-for="LastName" type="text" name="lastName" class="form-control">
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions--solid">
                    <button type="submit" class="btn btn-primary btn-info">
                        <i class="fa fa-search"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="m-portlet m-portlet--mobile" id="person-list-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="flaticon-list-1"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    Persons Listing
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a href="" data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                        <i class="la la-angle-down"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <!--begin: Search Form -->
        <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
            <div class="row align-items-center">
                @*<div class="col-xl-8 order-2 order-xl-1">
                    <div class="form-group m-form__group row align-items-center">
                        <div class="col-md-4">
                            <div class="m-input-icon m-input-icon--left">
                                <input type="text" class="form-control m-input" placeholder="Quick search ..." id="generalSearch">
                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                    <span>
                                        <i class="la la-search"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="col-xl-12 order-1 order-xl-2 m--align-right">
                    <a asp-area="@AreaNames.Operations" asp-controller="@ControllerNames.Persons" asp-action="@ActionNames.Add" class="btn btn-primary">
                        <span>
                            <i class="la la-user-plus"></i>
                            <span>
                                Add New Person
                            </span>
                        </span>
                    </a>
                    <div class="m-separator m-separator--dashed d-xl-none"></div>
                </div>
            </div>
        </div>
        <table id="persons">
            <thead>
                <tr>
                    <th> Full Name </th>
                    <th> CNIC </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Persons)
                {
                    <tr>
                        <td> @item.FirstName @item.FathersName @item.FamilyName </td>
                        <td> @item.Cnic </td>
                        <td>
                            <a asp-area="@AreaNames.Operations" asp-controller="@ControllerNames.Persons" asp-action="@ActionNames.Detail" asp-route-id="@item.Id" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only" title="View Details">
                                <i class="la la-eye"></i>
                            </a>
                            <a asp-area="@AreaNames.Operations" asp-controller=@ControllerNames.Persons asp-action=@ActionNames.Edit asp-route-id="@item.Id" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only" title="Edit Details">
                                <i class="la la-edit"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        jQuery(document).ready(function () {
            InitializeDataTable("persons", "Persons");

            //var options = {
            //    bodyToggleSpeed: 400,
            //    tooltips: true,
            //    tools: {
            //        toggle: {
            //            collapse: 'Collapse',
            //            expand: 'Expand'
            //        },
            //        reload: 'Reload',
            //        remove: 'Remove',
            //        fullscreen: {
            //            on: 'Fullscreen',
            //            off: 'Exit Fullscreen'
            //        }
            //    }
            //};

            //var searchPortlet = new mPortlet('search-portlet', options);
            //var listPortlet = new mPortlet('person-list-portlet', options);

            //$('#search-portlet').mPortlet();
            //$('#person-list-portlet').mPortlet();

            $("#menu-1").addClass("m-menu__item--open m-menu__item--expanded");

            $("#persons").css("min-height", "0px");
        });
    </script>
}