@model AMS.frontend.web.Models.Authenticate.LoginModel
@{
    Layout = null;
    ViewBag.Title = "Appointment Management System";
    ViewBag.PageTitle = "Login";
    var loginTitle = Model.RememberMe ? $"Hello {Model.Company}!" : "Login To Your Account";
    //ViewBag.DesktopHeader = "Fast Pay Backoffice";
    //ViewBag.MobileHeader = "Fast Pay";
}
<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 4
Version: 5.0.6.1
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>
        @ViewBag.Title | @ViewBag.PageTitle
    </title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Web font -->
    <!--begin::Base Styles -->
    <link href="assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Base Styles -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- end::Head -->
<!-- end::Body -->
<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-login m-login--signin  m-login--5" id="m_login" style="background-image: url(assets/app/media/img//bg/bg-3.jpg);">
            <div class="m-login__wrapper-1 m-portlet-full-height">
                <div class="m-login__wrapper-1-1">
                    <div class="m-login__contanier">
                        <div class="m-login__content">
                            <div class="m-login__logo">
                                <a href="#">
                                    <img src="images/ismaili-logo.png">
                                </a>
                            </div>
                            <div class="m-login__title">
                                <h3>
                                    Pakistan Jamat
                                </h3>
                            </div>
                            <div class="m-login__desc">
                                Imamat Appointment Management System
                            </div>
                            @*<div class="m-login__form-action">
                                    <button type="button" id="m_login_signup" class="btn btn-outline-focus m-btn--pill">
                                        Get An Account
                                    </button>
                                </div>*@
                        </div>
                    </div>
                    <div class="m-login__border">
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="m-login__wrapper-2 m-portlet-full-height">
                <div class="m-login__contanier">
                    <div class="m-login__signin">
                        <div class="m-login__head">
                            <h3 id="loginTitle" class="m-login__title">
                                @loginTitle
                            </h3>
                        </div>
                        <form asp-controller="@ControllerNames.Authenticate" asp-action="@ActionNames.Index" class="m-login__form m-form" method="post">
                            <div class="form-group m-form__group">
                                <select asp-for="Company" class="form-control m-input m-select2" placeholder="Select a Company">
                                    <option></option>
                                    <option>AKDN</option>
                                    <option>National Council</option>
                                    <option>Estate Office</option>
                                </select>
                                <span asp-validation-for="Company" class="form-control-feedback"></span>
                            </div>
                            @if (Model.RememberMe)
                            {
                                <div id="toggleNotMe" class="col m--align-right">
                                    <a href="javascript:toggleNotMe();" class="m-link">
                                        Not Me ?
                                    </a>
                                </div>
                            }
                            <br />
                            <div class="form-group m-form__group">
                                <input asp-for="EmailAddress" class="form-control m-input" type="text" placeholder="Email Address">
                                <span asp-validation-for="EmailAddress" class="form-control-feedback"></span>
                            </div>
                            <div class="form-group m-form__group">
                                <input asp-for="Password" class="form-control m-input m-login__form-input--last" type="Password" placeholder="Password">
                                <span asp-validation-for="Password" class="form-control-feedback"></span>
                            </div>
                            <div class="row m-login__form-sub">
                                <div class="col m--align-left">
                                    <label class="m-checkbox m-checkbox--focus">
                                        <input asp-for="RememberMe" type="checkbox">
                                        Remember me
                                        <span></span>
                                    </label>
                                    <span asp-validation-for="RememberMe" class="form-control-feedback"></span>
                                </div>
                                <div class="col m--align-right">
                                    <a href="javascript:;" id="m_login_forget_password" class="m-link">
                                        Forget Password ?
                                    </a>
                                </div>
                            </div>
                            <div class="m-login__form-action">
                                <button type="submit" class="btn btn-focus m-btn">
                                    Sign In
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="m-login__forget-password">
                        <div class="m-login__head">
                            <h3 class="m-login__title">
                                Forgotten Password ?
                            </h3>
                            <div class="m-login__desc">
                                Enter your email to reset your password:
                            </div>
                        </div>
                        <form asp-controller="@ControllerNames.Authenticate" asp-action="@ActionNames.Reset" class="m-login__form m-form">
                            <div class="form-group m-form__group">
                                <input asp-for="EmailAddress" class="form-control m-input" type="text" placeholder="Email" id="m_email">
                                <span asp-validation-for="EmailAddress" class="form-control-feedback"></span>
                            </div>
                            <div class="m-login__form-action">
                                <button id="m_login_forget_password_submit" class="btn btn-focus m-btn">
                                    Request
                                </button>
                                <button id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn">
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Page -->
    <!--begin::Base Scripts -->
    <script src="assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
    <script src="assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Base Scripts -->
    <!--begin::Page Snippets -->
    <script src="assets/snippets/custom/pages/user/login.js" type="text/javascript"></script>
    <script src="assets/demo/default/custom/crud/forms/widgets/select2.js" type="text/javascript"></script>
    <!--end::Page Snippets -->
    <!--begin::Page Scripts -->
    @Html.Partial(PartialNames.ValidationScripts)
    <script src="custom.js" type="text/javascript"></script>
    <!--end::Page Scripts -->
</body>
<!-- end::Body -->
</html>