@model UploadImage
@{
    ViewBag.ModuleTitle = "Image";
    ViewBag.PageTitle = "Bulk Image Upload";
}

<div class="row">
    <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <!--begin::Form-->
            <form id="mainForm" asp-area="@AreaNames.Operations" asp-controller="@ControllerNames.Image" asp-action="@ActionNames.Index" method="post" class="m-form m-form--fit m-form--label-align-right" enctype="multipart/form-data">
                <div class="m-portlet__body">
                    <div class="form-group m-form__group row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="control-label">Upload Zip File</label><span class="required">*</span>
                                <input type="file" asp-for="ImageUpload" class="form-control">
                                <span asp-validation-for="ImageUpload" class="form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    @if (Model.ListFormNumbers.Count > 0)
                    {
                        <div class="form-group m-form__group row">
                            <div class="col-lg-12">
                                <table class="table table-condensed" style="background-color: #ff000005">
                                    <thead>
                                        <tr>
                                            <th style="color : red">Error While Uploading these Images</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ListFormNumbers)
                                        {
                                            <tr>
                                                <td style="color: red">@item</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions--solid m--align-right">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i> Submit
                        </button>
                        <a asp-area="@AreaNames.Operations" asp-controller="@ControllerNames.Image" asp-action="@ActionNames.Index" class="btn default">
                            <i class="fa fa-close"></i> Cancel
                        </a>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
</div>

@section scripts{

    @{ @(await Html.PartialAsync(PartialNames.ValidationScripts)) }
    @{ @(await Html.PartialAsync(PartialNames.DateTimePickerScripts)) }

    <script type="text/javascript">
        jQuery(document).ready(function () {
            $("#menu-15").addClass("m-menu__item--open m-menu__item--expanded");
        });
    </script>
}