@model PositionModel
@{
    ViewBag.ModuleTitle = "Nominations Management";
    ViewBag.PageTitle = "Nominations";
    ViewBag.Action = "Detail";
}
@section styles{
    <link href="~/assets/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <style>
        .m-widget5 .m-widget5__item .m-widget5__content .m-widget5__section {
            display: table-cell;
            vertical-align: top;
            padding-left: 1.43rem;
            padding-top: .3rem;
        }
    </style>
}
<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
                    <i class="flaticon-statistics"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    Incubment details
                </h3>
                <h2 class="m-portlet__head-label m-portlet__head-label--warning">
                    <span>President - Local Council for Karimabad</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <!--begin::m-widget5-->
        <div class="m-widget5">
            <div class="m-widget5__item" style="border-bottom: .07rem dashed #ebedf2 !important">
                <div class="m-widget5__content">
                    <div class="m-widget5__pic">
                        <img class="m-widget7__img" src="~/images/mohsin.jpg" alt="">
                    </div>
                    <div class="m-widget5__section">
                        <h4 class="m-widget5__title">
                            Mohsin Mansoor Ali Kerai
                        </h4>
                        <span class="m-widget5__desc m--font-info">
                            <span class="m-badge m-badge--info m-badge--wide m-badge--rounded">Male</span>
                            <span class="m-badge m-badge--info m-badge--wide m-badge--rounded">23 yrs</span>
                            <span class="m-badge m-badge--info m-badge--wide m-badge--rounded">Single</span>
                            <span class="m-badge m-badge--info m-badge--wide m-badge--rounded">Karachi</span>
                        </span>
                        <div class="m-widget5__info">
                            @*<span class="m-widget5__author">
                                    Qualification:
                                </span>*@
                            <span class="m-widget5__info-label">
                                Software Engineer, Careem Pakistan
                            </span>
                            @*<span class="m-widget5__info-author-name">
                                    Fly themes
                                </span>*@
                            @*<span class="m-widget5__info-label">
                                    <b>|</b>
                                </span>
                                <span class="m-widget5__info-label">
                                    Masters (Architect), Massachusetts Institute of Technology (USA), 1991
                                </span>*@
                        </div>
                        <div class="m-widget5__info">
                            @*<span class="m-widget5__author">
                                    Qualification:
                                </span>*@
                            <span class="m-widget5__info-label">
                                Masters (Computer Sciences), National University of Computer & Emerging Sciences FAST, 2019
                            </span>
                            @*<span class="m-widget5__info-author-name">
                                    Fly themes
                                </span>*@
                            @*<span class="m-widget5__info-label">
                                    <b>|</b>
                                </span>
                                <span class="m-widget5__info-label">
                                    Masters (Architect), Massachusetts Institute of Technology (USA), 1991
                                </span>*@
                        </div>
                    </div>
                </div>
                <div class="m-widget5__content">
                    <div class="m-widget5__stats1">
                        <span class="m-widget5__number m--font-success">3</span>
                        <br>
                        <span class="m-widget5__sales">Required</span>
                    </div>
                    <div class="m-widget5__stats2">
                        <span class="m-widget5__number  m--font-danger">0</span>
                        <br>
                        <span class="m-widget5__votes">Nominated</span>
                    </div>
                </div>
            </div>
        </div>
        <!--end::m-widget5-->
        <div class="m-form__heading">
            <div class="m-form__heading-title">
                <h4>Nominations for Cycle 2013 to 2019</h4>
                <span class="m-badge m-badge--success m-badge--wide m-badge--rounded">completed</span>
            </div>
        </div>
        <div class="form-group m-form__group row" style="border-bottom: .07rem dashed #ebedf2 !important">
            <table id="nominations" class="table table-striped- table-bordered table-hover">
                <thead>
                    <tr>
                        <th> Priority </th>
                        <th> Name </th>
                        <th> Occupation </th>
                        <th> Education </th>
                        <th> Actions </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <div class="m-card-user m-card-user--sm">
                                <div class="m-card-user__pic">
                                    <img src="~/images/naveed.jpg" class="m--img-rounded m--marginless" alt="photo">
                                </div>
                                <div class="m-card-user__details">
                                    <span class="m-card-user__name">Naveed Zulfiqar Ali Tejani</span>
                                    <span class="m-badge m-badge--info m-badge--wide m-badge--rounded">Male</span>
                                    <span class="m-badge m-badge--info m-badge--wide m-badge--rounded">23 yrs</span>
                                    <span class="m-badge m-badge--info m-badge--wide m-badge--rounded">Single</span>
                                    <span class="m-badge m-badge--info m-badge--wide m-badge--rounded">Karachi</span>
                                    @*<a href="" class="m-card-user__email m-link">Brakus-Hansen</a>*@
                                </div>
                            </div>
                        </td>
                        <td> Software Engineer, Careem Pakistan </td>
                        <td> Masters (Computer Sciences), 2019 </td>
                        <td>
                            <a asp-area="@AreaNames.Operations" asp-controller="@ControllerNames.Persons" asp-action="@ActionNames.Detail" asp-route-id="1" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only" title="View Details">
                                <i class="la la-eye"></i>
                            </a>
                            <a asp-area="@AreaNames.Operations" asp-controller=@ControllerNames.Persons asp-action=@ActionNames.Edit asp-route-id="1" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only" title="Edit Details">
                                <i class="la la-edit"></i>
                            </a>
                            <a asp-area="@AreaNames.Operations" asp-controller=@ControllerNames.Persons asp-action=@ActionNames.Edit asp-route-id="1" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only" title="Remove Nomination">
                                <i class="la la-trash"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            <div class="m-card-user m-card-user--sm">
                                <div class="m-card-user__pic">
                                    <div class="m-card-user__no-photo m--bg-fill-info"><span>SM</span></div>
                                </div>
                                <div class="m-card-user__details">
                                    <span class="m-card-user__name">Saif Ali Momin</span>
                                    <span class="m-badge m-badge--info m-badge--wide m-badge--rounded">Male</span>
                                    <span class="m-badge m-badge--info m-badge--wide m-badge--rounded">23 yrs</span>
                                    <span class="m-badge m-badge--info m-badge--wide m-badge--rounded">Single</span>
                                    <span class="m-badge m-badge--info m-badge--wide m-badge--rounded">Karachi</span>
                                    @*<a href="" class="m-card-user__email m-link">Brakus-McCullough</a>*@
                                </div>
                            </div>
                        </td>
                        <td> Software Engineer, Careem Pakistan </td>
                        <td> Masters (Computer Sciences), 2019 </td>
                        <td>
                            <a asp-area="@AreaNames.Operations" asp-controller="@ControllerNames.Persons" asp-action="@ActionNames.Detail" asp-route-id="1" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only" title="View Details">
                                <i class="la la-eye"></i>
                            </a>
                            <a asp-area="@AreaNames.Operations" asp-controller=@ControllerNames.Persons asp-action=@ActionNames.Edit asp-route-id="1" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only" title="Edit Details">
                                <i class="la la-edit"></i>
                            </a>
                            <a asp-area="@AreaNames.Operations" asp-controller=@ControllerNames.Persons asp-action=@ActionNames.Edit asp-route-id="1" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only" title="Remove Nomination">
                                <i class="la la-trash"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            <div class="m-card-user m-card-user--sm">
                                <div class="m-card-user__pic">
                                    <div class="m-card-user__no-photo m--bg-fill-info"><span>AN</span></div>
                                </div>
                                <div class="m-card-user__details">
                                    <span class="m-card-user__name">Ali Ahad Nayani</span>
                                    <span class="m-badge m-badge--info m-badge--wide m-badge--rounded">Male</span>
                                    <span class="m-badge m-badge--info m-badge--wide m-badge--rounded">23 yrs</span>
                                    <span class="m-badge m-badge--info m-badge--wide m-badge--rounded">Single</span>
                                    <span class="m-badge m-badge--info m-badge--wide m-badge--rounded">Karachi</span>
                                    @*<a href="" class="m-card-user__email m-link">Brakus-McCullough</a>*@
                                </div>
                            </div>
                        </td>
                        <td> Software Engineer, Careem Pakistan </td>
                        <td> Masters (Computer Sciences), 2019 </td>
                        <td>
                            <a asp-area="@AreaNames.Operations" asp-controller="@ControllerNames.Persons" asp-action="@ActionNames.Detail" asp-route-id="1" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only" title="View Details">
                                <i class="la la-eye"></i>
                            </a>
                            <a asp-area="@AreaNames.Operations" asp-controller=@ControllerNames.Persons asp-action=@ActionNames.Edit asp-route-id="1" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only" title="Edit Details">
                                <i class="la la-edit"></i>
                            </a>
                            <a asp-area="@AreaNames.Operations" asp-controller=@ControllerNames.Persons asp-action=@ActionNames.Edit asp-route-id="1" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only" title="Remove Nomination">
                                <i class="la la-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="m-form__heading">
            <h4 class="m-form__heading-title">
                Person Lookup
            </h4>
        </div>
        <br />
        <div class="form-group m-form__group row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">CNIC</label>
                    <input type="text" name="cnic" class="form-control">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label">First Name</label>
                    <input type="text" name="firstName" class="form-control">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <input type="text" name="lastName" class="form-control">
                </div>
            </div>
            <div class="m-form__actions m-form__actions--solid" style="padding-left: 15px !important; padding-top: 28px !important">
                <button type="button" class="btn btn-primary btn-info">
                    <i class="fa fa-search"></i> Search
                </button>
            </div>
        </div>
        <table id="persons" class="table table-striped- table-bordered table-hover">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> CNIC </th>
                    <th> Actions </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!--end::Portlet-->

@section scripts{
    <script src="~/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/custom/crud/datatables/extensions/buttons.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/custom/crud/datatables/extensions/colreorder.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/custom/crud/datatables/extensions/rowreorder.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/custom/crud/datatables/extensions/responsive.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/custom/crud/datatables/data-sources/ajax-server-side.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            InitializeNewDataTableLite("nominations", "Nominations");
            $("#menu-2").addClass("m-menu__item--open m-menu__item--expanded");
            $("#nominations").css("min-height", "0px");
            InitializeLitePersonDataTable("persons",
                "Persons",
                "@Url.Action("ServerSideAjaxHandler", ControllerNames.Persons, new { area = AreaNames.Operations })");
            $("#persons").css("min-height", "0px");
        });
    </script>
}