@model IEnumerable<VoluntaryCommunityModel>
<table id="voluntary-community">
    <thead>
    <tr>
        <th> Institution </th>
        <th> From </th>
        <th> To </th>
        <th> Position </th>
        <th> Actions </th>
    </tr>
    </thead>
    <tbody>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr id="voluntary-community-row-@item.VoluntaryCommunityId">
                <td> @item.Institution </td>
                <td> @item.FromYear </td>
                <td> @item.ToYear </td>
                <td> @item.Position </td>
                <td>
                    <button type="button" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only" title="Edit" onclick='return VoluntaryCommunityListEdit("@item.VoluntaryCommunityId", "@item.Institution", "@item.FromYear", "@item.ToYear", "@item.Position");'>
                        <i class="la la-edit"></i>
                    </button>
                    <button type="button" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only" title="Delete" onclick='return VoluntaryCommunityListDelete("@Url.Action(ActionNames.VoluntaryCommunityListDelete, ControllerNames.Persons, new {area = AreaNames.Operations})", "@item.VoluntaryCommunityId");'>
                        <i class="la la-trash"></i>
                    </button>
                </td>
            </tr>
        }
    }
    </tbody>
</table>